/* .MuiPickersLayout-root {
  max-height: 300px;
  margin: 0%;
  padding: 0%;
  max-width: 280px;
}
.dashboard-calendar {
  margin: 0%;
  padding: 0%;
}
.MuiDateCalendar-root {
  margin: 0%;
  padding: 0%;
  height: 180px;
  max-width: 280px;
}
.MuiPickersToolbar-root {
  margin: 0%;
  padding: 0%;
  max-width: 280px;
  height: 55px;
}

.MuiPickersToolbar-root span {
  display: none;
}
.MuiPickersToolbar-content {
  height: 35px;

  background-color: rgb(99, 24, 99);
  display: inline;
}
.MuiPickersToolbar-content h4 {
  color: white;
  font-size: 20px;
  padding-left: 70px;
}
.MuiPickersLayout-contentWrapper {
  margin: 0%;
  padding: 0%;
}
.MuiPickersCalendarHeader-root {
  margin: 0%;
  padding: 0%;
}
.MuiPickersCalendarHeader-label {
  font-size: 15px;
}
.MuiPickersFadeTransitionGroup-root {
  margin: 0%;
  padding: 0%;
}
.MuiDayCalendar-root {
  margin: 0%;
  padding: 0%;
}
.MuiDayCalendar-header {
  height: 10px;
  margin: 0%;
  padding: 0%;
}
.MuiTypography-root {
  margin: 0%;
  padding: 0%;
  height: 13px;
}
.MuiDayCalendar-header span {
  margin: 0%;
  padding: 0%;
  height: 15px;
}
.MuiTypography-root {
  margin: 0%;
  padding: 0%;
}
.MuiDayCalendar-monthContainer {
  margin: 0%;
  padding: 0%;
}
.MuiDayCalendar-weekContainer {
  margin: 0%;
  padding: 0%;
  height: 25px;
}
.MuiPickersDay-root {
  margin: 0%;
  padding: 0%;
  height: 25px;
}
.css-1ayjnp4-MuiPickersDay-root {
  height: 25px;
}
.MuiButtonBase-root span {
  margin: 0%;
  padding: 0%;
}
.MuiButtonBase-root {
  margin: 0%;
  padding: 0%;
}
.MuiDialogActions-root {
  margin: 0%;
  padding: 0%;
  max-width: 280px;
}

.css-23p0if-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  background-color: rgb(99, 24, 99) !important;
}
.css-23p0if-MuiButtonBase-root-MuiPickersDay-root:focus.Mui-selected {
  background-color: rgb(99, 24, 99) !important;
}
.css-23p0if-MuiButtonBase-root-MuiPickersDay-root.Mui-selected:hover {
  background-color: rgb(99, 24, 99) !important;
}
.css-1wy8uaa-MuiButtonBase-root-MuiPickersDay-root.Mui-selected:hover {
  background-color: rgb(99, 24, 99) !important;
}
.css-1wy8uaa-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  background-color: rgb(99, 24, 99) !important;
} */
.MuiPickersLayout-root {
  /* min-width: 620px !important;
  background-color: black; */
}
.css-1xy5ork-MuiPickersLayout-root {
  min-width: 320px !important;
  /* max-height: 320px; */
}
.css-1xy5ork-MuiPickersLayout-root .MuiPickersLayout-toolbar {
  padding: 0% !important;
}
.css-1xy5ork-MuiPickersLayout-root .MuiPickersLayout-toolbar span {
  display: none !important;
}
.css-1wsi274-MuiPickersToolbar-content {
  /* width: 100% !important; */
  /* display: flex !important;
  justify-content: center !important;
  align-items: center !important; */
  background-color: rgb(99, 24, 99) !important;
}
.css-1wsi274-MuiPickersToolbar-content h4 {
  font-size: 1.125rem !important;
  color: white !important;
  display: flex !important;

  margin-left: 110px !important;
}

.css-16b5y55-MuiPickersLayout-contentWrapper {
  padding: 0% !important;
  margin: 0% !important;
}
.css-1rtg91x-MuiDateCalendar-root {
  overflow: hidden !important;
  width: 320px !important;
  max-height: 220px !important;
  height: 220px !important;
}

/*hover*/
.css-23p0if-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  background-color: rgb(99, 24, 99) !important;
}

.css-23p0if-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  background-color: rgb(99, 24, 99) !important;
}
.css-23p0if-MuiButtonBase-root-MuiPickersDay-root:focus.Mui-selected {
  background-color: rgb(99, 24, 99) !important;
}
.css-23p0if-MuiButtonBase-root-MuiPickersDay-root.Mui-selected:hover {
  background-color: rgb(135, 33, 135) !important;
}
.css-1wy8uaa-MuiButtonBase-root-MuiPickersDay-root.Mui-selected:hover {
  background-color: rgb(99, 24, 99) !important;
}
.css-1wy8uaa-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  background-color: rgb(99, 24, 99) !important;
}
.css-23p0if-MuiButtonBase-root-MuiPickersDay-root {
  font-size: 0.6rem !important;
  line-height: 0 !important;
  letter-spacing: 0 !important;
  width: 36px !important;
  height: 25px !important;
}
/*middle*/
.css-1aqny2q-MuiPickersCalendarHeader-root {
  margin-top: 0px !important;
  margin-bottom: 0 !important;
  padding-left: 24px !important;
  padding-right: 12px !important;
}
.css-cyfsxc-MuiPickersCalendarHeader-labelContainer {
  font-size: 0.8rem !important;
  line-height: 0 !important;
}
.css-kg9q0s-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button {
  padding: 0px !important;
}
.css-1vooibu-MuiSvgIcon-root {
  width: 0.7em !important;
  height: 0.6em !important;
}
.css-1nkg345-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button {
  padding: 0px !important;
}

.css-rhmlg1-MuiTypography-root-MuiDayCalendar-weekDayLabel {
  font-size: 0.5rem !important;
  line-height: 0 !important;
  letter-spacing: 0.03333em !important;

  height: 0px !important;
}

.css-1t0788u-MuiPickersSlideTransition-root-MuiDayCalendar-slideTransition {
  min-height: 140px !important;
}
.css-flbe84-MuiDayCalendar-weekContainer {
  margin: 0px !important;
}
.css-1wy8uaa-MuiButtonBase-root-MuiPickersDay-root {
  font-size: 0.6rem !important;
  line-height: 0 !important;
  letter-spacing: 0 !important;
  width: 36px !important;
  height: 25px !important;
}
.css-1ayjnp4-MuiPickersDay-root {
  font-size: 0.6rem !important;
  line-height: 0 !important;
  letter-spacing: 0 !important;
  width: 36px !important;
  height: 25px !important;
}
/*bottom*/

.css-1xy5ork-MuiPickersLayout-root .MuiPickersLayout-actionBar {
  margin-top: -50px !important;
  padding: 0% !important;
}
.css-12mkn7b-MuiButtonBase-root-MuiIconButton-root-MuiPickersCalendarHeader-switchViewButton {
  padding: 0px !important;
}
.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  margin: 0% !important;
  padding: 0px 0px !important;
}
.css-1xy5ork-MuiPickersLayout-root .MuiPickersLayout-actionBar {
}
